{% extends 'layout/base.html' %}
{% load static %}
{% block content %}


    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

        <img src="{% static 'assets/img/bgfood.jpg' %}" alt="" data-aos="fade-in">

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2 data-aos="fade-up" data-aos-delay="100">Welcome to MyFridgeRecipes</h2>
                    <p data-aos="fade-up" data-aos-delay="200">Where culinary creativity meets the contents of your
                        fridge! </p>
                </div>
{#                {% block login %}#}
                <div class="col-lg-5">
  
                    <form action="#" method="post" class="sign-up-form d-flex" data-aos="fade-up" data-aos-delay="300">
                        
                        
                        
                        <input type="text" class="form-control" placeholder="Enter email address">
                        <input type="submit" class="btn btn-primary" value="Sign up">
                    </form>
                    
                </div>
{#                    {% endblock login %}#}
                
    </form>
                
            </div>
        </div>

    </section><!-- End Hero Section -->

{#    <!-- Clients Section - Home Page -->#}
{#    <section id="clients" class="clients">#}
{##}
{#        <div class="container-fluid" data-aos="fade-up">#}
{##}
{#            <div class="row gy-4">#}
{##}
{#                <div class="col-xl-2 col-md-3 col-6 client-logo">#}
{#                    <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">#}
{#                </div><!-- End Client Item -->#}
{##}
{#                <div class="col-xl-2 col-md-3 col-6 client-logo">#}
{#                    <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">#}
{#                </div><!-- End Client Item -->#}
{##}
{#                <div class="col-xl-2 col-md-3 col-6 client-logo">#}
{#                    <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">#}
{#                </div><!-- End Client Item -->#}
{##}
{#                <div class="col-xl-2 col-md-3 col-6 client-logo">#}
{#                    <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">#}
{#                </div><!-- End Client Item -->#}
{##}
{#                <div class="col-xl-2 col-md-3 col-6 client-logo">#}
{#                    <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">#}
{#                </div><!-- End Client Item -->#}
{##}
{#                <div class="col-xl-2 col-md-3 col-6 client-logo">#}
{#                    <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">#}
{#                </div><!-- End Client Item -->#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </section><!-- End Clients Section -->#}

    <!-- About Section - Home Page -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row align-items-xl-center gy-5">

                <div class="col-xl-5 content">
                    <h3>About Us</h3>
                    <h2>What are we?</h2>
                    <p>At MyFridgeRecipes, we understand the daily challenge of figuring out what to cook with the
                        ingredients you have on hand. That's why we've created a user-friendly platform that allows you
                        to easily add the contents of your fridge to our virtual pantry. With just a few taps, you can
                        turn those basic ingredients into delicious, customized recipes tailored to your taste and
                        dietary preferences.</p>
                        <a href="#" class="read-more"><span>Register</span><i class="bi bi-arrow-right"></i></a>
                </div>

                <div class="col-xl-7">
                    <div class="row gy-4 icon-boxes">

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon-box">
                                <i class="bi bi-house-heart"></i>
                                <h3>Empower Your Kitchen</h3>
                                <p> We are here to reignite your passion for cooking by providing innovative tools and
                                    delightful recipes, making your kitchen the heart of culinary inspiration once
                                    more</p>
                            </div>
                        </div> <!-- End Icon Box -->

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon-box">
                                <i class="bi bi-egg"></i>
                                <h3>Fill Your Fridge</h3>
                                <p>Adding ingredients to your virtual fridge is a breeze with MyFridgeRecipes'
                                    user-friendly interface.</p>
                            </div>
                        </div> <!-- End Icon Box -->

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon-box">
                                <i class="bi bi-egg-fried"></i>
                                <h3>From Fridge to Plate</h3>
                                <p>Once your ingredients are in, MyFridgeRecipes works its magic, suggesting delightful
                                    recipes for you to enjoy cooking and savoring.</p>
                            </div>
                        </div> <!-- End Icon Box -->

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                            <div class="icon-box">
                                <i class="bi bi-graph-up-arrow"></i>
                                <h3>Combat Food Waste Deliciously</h3>
                                <p>Approximately one-third of all food produced globally for human consumption, which
                                    amounts to about <strong>1.3 billion tons </strong> per year, is wasted. </p>
                                
                            </div>
                        </div> <!-- End Icon Box -->

                    </div>
                </div>

            </div>
        </div>

    </section><!-- End About Section -->

    <!-- Stats Section - Home Page -->
    <section id="stats" class="stats">

        <img src="{% static 'assets/img/spices-of-sri-lanka-brixlk_.jpg' %}" alt="" data-aos="fade-in">

        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Clients</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="{{ ingredients }}"
                              data-purecounter-duration="1" class="purecounter"></span>
                        <p>Ingredients</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="{{ recipies }}"
                              data-purecounter-duration="1" class="purecounter"></span>
                        <p>Recipes</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Worker</p>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>

    </section><!-- End Stats Section -->

    {#    <!-- Services Section - Home Page -->#}
    {#    <section id="services" class="services">#}
    {##}
    {#      <!--  Section Title -->#}
    {#      <div class="container section-title" data-aos="fade-up">#}
    {#        <h2>Services</h2>#}
    {#        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>#}
    {#      </div><!-- End Section Title -->#}
    {##}
    {#      <div class="container">#}
    {##}
    {#        <div class="row gy-4">#}
    {##}
    {#          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">#}
    {#            <div class="service-item d-flex">#}
    {#              <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>#}
    {#              <div>#}
    {#                <h4 class="title"><a href="services-details.html" class="stretched-link">Lorem Ipsum</a></h4>#}
    {#                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {#          <!-- End Service Item -->#}
    {##}
    {#          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">#}
    {#            <div class="service-item d-flex">#}
    {#              <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>#}
    {#              <div>#}
    {#                <h4 class="title"><a href="services-details.html" class="stretched-link">Dolor Sitema</a></h4>#}
    {#                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div><!-- End Service Item -->#}
    {##}
    {#          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">#}
    {#            <div class="service-item d-flex">#}
    {#              <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>#}
    {#              <div>#}
    {#                <h4 class="title"><a href="services-details.html" class="stretched-link">Sed ut perspiciatis</a></h4>#}
    {#                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div><!-- End Service Item -->#}
    {##}
    {#          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">#}
    {#            <div class="service-item d-flex">#}
    {#              <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>#}
    {#              <div>#}
    {#                <h4 class="title"><a href="services-details.html" class="stretched-link">Magni Dolores</a></h4>#}
    {#                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div><!-- End Service Item -->#}
    {##}
    {#          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">#}
    {#            <div class="service-item d-flex">#}
    {#              <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>#}
    {#              <div>#}
    {#                <h4 class="title"><a href="services-details.html" class="stretched-link">Nemo Enim</a></h4>#}
    {#                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div><!-- End Service Item -->#}
    {##}
    {#          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">#}
    {#            <div class="service-item d-flex">#}
    {#              <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>#}
    {#              <div>#}
    {#                <h4 class="title"><a href="services-details.html" class="stretched-link">Eiusmod Tempor</a></h4>#}
    {#                <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div><!-- End Service Item -->#}
    {##}
    {#        </div>#}
    {##}
    {#      </div>#}
    {##}
    {#    </section><!-- End Services Section -->#}

    {#    <!-- Features Section - Home Page -->#}
    {#    <section id="features" class="features">#}
    {##}
    {#      <!--  Section Title -->#}
    {#      <div class="container section-title" data-aos="fade-up">#}
    {#        <h2>Features</h2>#}
    {#        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>#}
    {#      </div><!-- End Section Title -->#}
    {##}
    {#      <div class="container">#}
    {##}
    {#        <div class="row gy-4 align-items-center features-item">#}
    {#          <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">#}
    {#            <h3>Corporis temporibus maiores provident</h3>#}
    {#            <p>#}
    {#              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate#}
    {#              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.#}
    {#            </p>#}
    {#            <a href="#" class="btn btn-get-started">Get Started</a>#}
    {#          </div>#}
    {#          <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">#}
    {#            <div class="image-stack">#}
    {#              <img src="assets/img/features-light-1.jpg" alt="" class="stack-front">#}
    {#              <img src="assets/img/features-light-2.jpg" alt="" class="stack-back">#}
    {#            </div>#}
    {#          </div>#}
    {#        </div><!-- Features Item -->#}
    {##}
    {#        <div class="row gy-4 align-items-stretch justify-content-between features-item ">#}
    {#          <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">#}
    {#            <img src="assets/img/features-light-3.jpg" class="img-fluid" alt="">#}
    {#          </div>#}
    {#          <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">#}
    {#            <h3>Sunt consequatur ad ut est nulla</h3>#}
    {#            <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>#}
    {#            <ul>#}
    {#              <li><i class="bi bi-check"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>#}
    {#              <li><i class="bi bi-check"></i><span> Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>#}
    {#              <li><i class="bi bi-check"></i> <span>Facilis ut et voluptatem aperiam. Autem soluta ad fugiat</span>.</li>#}
    {#            </ul>#}
    {#            <a href="#" class="btn btn-get-started align-self-start">Get Started</a>#}
    {#          </div>#}
    {#        </div><!-- Features Item -->#}
    {##}
    {#      </div>#}
    {##}
    {#    </section><!-- End Features Section -->#}

    <!-- Portfolio Section - Home Page -->
    <section id="recipes" class="portfolio">

        <!--  Section Title -->
        <div style="padding-bottom: 20px;" class="container section-title" data-aos="fade-up">
            <h2>Recipes</h2>
            <p>Check our latest recipes</p>

        </div><!-- End Section Title -->

        <div class="container">

            <section style="background-color: white; padding-top: 0px; padding-bottom: 30px; padding-left: 520px;"
                     id="about" class="about">

                <div style="" class="container" data-aos="fade-up" data-aos-delay="100">
                    <div class="row align-items-xl-center gy-5">

                        <div class="col-xl-5 content">

                            <a href="{% url 'recipes-all' %}" class="read-more"><span>See all our recipes</span><i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="blog" class="blog">


                <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <div class="row gy-4 posts-list">
                        {% for recipe in object_list %}
                            <div class="col-xl-4 col-lg-6">
                                <article>

                                    <div class="post-img">
                                        <img src="{{ recipe.image.url }}" alt="" class="img-fluid">
                                    </div>

                                    <p class="post-category">{{ recipe.time }} Minutes</p>

                                    <h2 class="title">
                                        <a href="{% url 'recipes-detail' recipe.id %}">{{ recipe.name }}</a>
                                    </h2>


                                </article>
                            </div><!-- End post list item -->
                        {% endfor %}

                    </div>
                </div>
            </section>


        </div><!-- End Portfolio Container -->


        </div>

        </div>
        <!-- incerc aici ceva -->


    </section><!-- End Portfolio Section -->

    {#    <!-- Pricing Section - Home Page -->#}
    {#    <section id="pricing" class="pricing">#}
    {##}
    {#      <!--  Section Title -->#}
    {#      <div class="container section-title" data-aos="fade-up">#}
    {#        <h2>Pricing</h2>#}
    {#        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>#}
    {#      </div><!-- End Section Title -->#}
    {##}
    {#      <div class="container" data-aos="zoom-in" data-aos-delay="100">#}
    {##}
    {#        <div class="row g-4">#}
    {##}
    {#          <div class="col-lg-4">#}
    {#            <div class="pricing-item">#}
    {#              <h3>Free Plan</h3>#}
    {#              <div class="icon">#}
    {#                <i class="bi bi-box"></i>#}
    {#              </div>#}
    {#              <h4><sup>$</sup>0<span> / month</span></h4>#}
    {#              <ul>#}
    {#                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>#}
    {#                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>#}
    {#                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>#}
    {#                <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>#}
    {#                <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>#}
    {#              </ul>#}
    {#              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>#}
    {#            </div>#}
    {#          </div><!-- End Pricing Item -->#}
    {##}
    {#          <div class="col-lg-4">#}
    {#            <div class="pricing-item featured">#}
    {#              <h3>Business Plan</h3>#}
    {#              <div class="icon">#}
    {#                <i class="bi bi-rocket"></i>#}
    {#              </div>#}
    {##}
    {#              <h4><sup>$</sup>29<span> / month</span></h4>#}
    {#              <ul>#}
    {#                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>#}
    {#                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>#}
    {#                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>#}
    {#                <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>#}
    {#                <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>#}
    {#              </ul>#}
    {#              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>#}
    {#            </div>#}
    {#          </div><!-- End Pricing Item -->#}
    {##}
    {#          <div class="col-lg-4">#}
    {#            <div class="pricing-item">#}
    {#              <h3>Developer Plan</h3>#}
    {#              <div class="icon">#}
    {#                <i class="bi bi-send"></i>#}
    {#              </div>#}
    {#              <h4><sup>$</sup>49<span> / month</span></h4>#}
    {#              <ul>#}
    {#                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>#}
    {#                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>#}
    {#                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>#}
    {#                <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>#}
    {#                <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>#}
    {#              </ul>#}
    {#              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>#}
    {#            </div>#}
    {#          </div><!-- End Pricing Item -->#}
    {##}
    {#        </div>#}
    {##}
    {#      </div>#}
    {##}
    {#    </section><!-- End Pricing Section -->#}

    <!-- Faq Section - Home Page -->
    <section id="faq" class="faq">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="content px-xl-5">
                        <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
                        <p>
                            Browse our frequently asked questions to learn more about MyFridgeRecipes and how it can simplify your cooking experience while reducing food waste.
                        </p>
                    </div>
                </div>

                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                    <div class="faq-container">
                        <div class="faq-item faq-active">
                            <h3><span class="num">1.</span> <span>How does MyFridgeRecipes work?</span></h3>
                            <div class="faq-content">
                                <p>MyFridgeRecipes is an intuitive platform that helps users create delicious meals
                                    using the ingredients they already have at home. Simply input the ingredients you
                                    have in your fridge or pantry, and the app will generate personalized recipe
                                    suggestions based on those ingredients.</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3><span class="num">2.</span> <span>Is MyFridgeRecipes free to use?</span></h3>
                            <div class="faq-content">
                                <p>Yes, MyFridgeRecipes is free to use. There are no subscription fees or hidden charges
                                    associated with the app.</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3><span class="num">3.</span> <span>Can I save my favorite recipes on the app?</span></h3>
                            <div class="faq-content">
                                <p>Yes, MyFridgeRecipes allows users to save their favorite recipes for easy access
                                    later. You can create a personalized recipe collection within the app to keep track
                                    of the dishes you love.</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3><span class="num">4.</span> <span>How often are new recipes added to the app?</span>
                            </h3>
                            <div class="faq-content">
                                <p> MyFridgeRecipes regularly updates its recipe database with new and exciting recipes
                                    to keep users inspired in the kitchen. New recipes are added on a regular basis to
                                    provide fresh culinary ideas for users to explore.</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3><span class="num">5.</span>
                                <span> How can MyFridgeRecipes help reduce food waste?</span></h3>
                            <div class="faq-content">
                                <p>MyFridgeRecipes minimizes food waste by suggesting recipes based on ingredients users
                                    already have, encouraging efficient use of perishables and pantry items. This helps
                                    save money, reduces environmental impact, and fosters resourceful cooking
                                    habits.</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                    </div>

                </div>
            </div>

        </div>

    </section><!-- End Faq Section -->

    {#    <!-- Team Section - Home Page -->#}
    {#    <section id="team" class="team">#}
    {##}
    {#      <!--  Section Title -->#}
    {#      <div class="container section-title" data-aos="fade-up">#}
    {#        <h2>Team</h2>#}
    {#        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>#}
    {#      </div><!-- End Section Title -->#}
    {##}
    {#      <div class="container">#}
    {##}
    {#        <div class="row gy-5">#}
    {##}
    {#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">#}
    {#            <div class="member-img">#}
    {#              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">#}
    {#              <div class="social">#}
    {#                <a href="#"><i class="bi bi-twitter"></i></a>#}
    {#                <a href="#"><i class="bi bi-facebook"></i></a>#}
    {#                <a href="#"><i class="bi bi-instagram"></i></a>#}
    {#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
    {#              </div>#}
    {#            </div>#}
    {#            <div class="member-info text-center">#}
    {#              <h4>Walter White</h4>#}
    {#              <span>Chief Executive Officer</span>#}
    {#              <p>Aliquam iure quaerat voluptatem praesentium possimus unde laudantium vel dolorum distinctio dire flow</p>#}
    {#            </div>#}
    {#          </div><!-- End Team Member -->#}
    {##}
    {#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">#}
    {#            <div class="member-img">#}
    {#              <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">#}
    {#              <div class="social">#}
    {#                <a href="#"><i class="bi bi-twitter"></i></a>#}
    {#                <a href="#"><i class="bi bi-facebook"></i></a>#}
    {#                <a href="#"><i class="bi bi-instagram"></i></a>#}
    {#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
    {#              </div>#}
    {#            </div>#}
    {#            <div class="member-info text-center">#}
    {#              <h4>Sarah Jhonson</h4>#}
    {#              <span>Product Manager</span>#}
    {#              <p>Labore ipsam sit consequatur exercitationem rerum laboriosam laudantium aut quod dolores exercitationem ut</p>#}
    {#            </div>#}
    {#          </div><!-- End Team Member -->#}
    {##}
    {#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">#}
    {#            <div class="member-img">#}
    {#              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">#}
    {#              <div class="social">#}
    {#                <a href="#"><i class="bi bi-twitter"></i></a>#}
    {#                <a href="#"><i class="bi bi-facebook"></i></a>#}
    {#                <a href="#"><i class="bi bi-instagram"></i></a>#}
    {#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
    {#              </div>#}
    {#            </div>#}
    {#            <div class="member-info text-center">#}
    {#              <h4>William Anderson</h4>#}
    {#              <span>CTO</span>#}
    {#              <p>Illum minima ea autem doloremque ipsum quidem quas aspernatur modi ut praesentium vel tque sed facilis at qui</p>#}
    {#            </div>#}
    {#          </div><!-- End Team Member -->#}
    {##}
    {#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">#}
    {#            <div class="member-img">#}
    {#              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">#}
    {#              <div class="social">#}
    {#                <a href="#"><i class="bi bi-twitter"></i></a>#}
    {#                <a href="#"><i class="bi bi-facebook"></i></a>#}
    {#                <a href="#"><i class="bi bi-instagram"></i></a>#}
    {#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
    {#              </div>#}
    {#            </div>#}
    {#            <div class="member-info text-center">#}
    {#              <h4>Amanda Jepson</h4>#}
    {#              <span>Accountant</span>#}
    {#              <p>Magni voluptatem accusamus assumenda cum nisi aut qui dolorem voluptate sed et veniam quasi quam consectetur</p>#}
    {#            </div>#}
    {#          </div><!-- End Team Member -->#}
    {##}
    {#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">#}
    {#            <div class="member-img">#}
    {#              <img src="assets/img/team/team-5.jpg" class="img-fluid" alt="">#}
    {#              <div class="social">#}
    {#                <a href="#"><i class="bi bi-twitter"></i></a>#}
    {#                <a href="#"><i class="bi bi-facebook"></i></a>#}
    {#                <a href="#"><i class="bi bi-instagram"></i></a>#}
    {#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
    {#              </div>#}
    {#            </div>#}
    {#            <div class="member-info text-center">#}
    {#              <h4>Brian Doe</h4>#}
    {#              <span>Marketing</span>#}
    {#              <p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>#}
    {#            </div>#}
    {#          </div><!-- End Team Member -->#}
    {##}
    {#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">#}
    {#            <div class="member-img">#}
    {#              <img src="assets/img/team/team-6.jpg" class="img-fluid" alt="">#}
    {#              <div class="social">#}
    {#                <a href="#"><i class="bi bi-twitter"></i></a>#}
    {#                <a href="#"><i class="bi bi-facebook"></i></a>#}
    {#                <a href="#"><i class="bi bi-instagram"></i></a>#}
    {#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
    {#              </div>#}
    {#            </div>#}
    {#            <div class="member-info text-center">#}
    {#              <h4>Josepha Palas</h4>#}
    {#              <span>Operation</span>#}
    {#              <p>Sint sint eveniet explicabo amet consequatur nesciunt error enim rerum earum et omnis fugit eligendi cupiditate vel</p>#}
    {#            </div>#}
    {#          </div><!-- End Team Member -->#}
    {##}
    {#        </div>#}
    {##}
    {#      </div>#}
    {##}
    {#    </section><!-- End Team Section -->#}

    <!-- Call-to-action Section - Home Page -->
    <section id="call-to-action" class="call-to-action">

        <img src="{% static 'assets/img/herbs-spices-on-dark-background-641570.jpg' %}" alt="">

        <div class="container">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-xl-10">
                    <div class="text-center">
                        <h3>Register Now</h3>
                        <p> It only takes 5 minutes to make an account, then you are ready become a small masterchef
                            with your own ingredients!</p>
                        <a class="cta-btn" href="#">Register</a>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Call-to-action Section -->

    <!-- Testimonials Section - Home Page -->
    <section id="testimonials" class="testimonials">

        <div class="container">

            <div class="row align-items-center">

                <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
                    <h3>Testimonials</h3>
                    <p>
                        Discover what users have to say about MyFridgeRecipes and how it's transforming their cooking experience while reducing food waste.
                    </p>
                </div>

                <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

                    <div class="swiper">
                        <script type="application/json" class="swiper-config">
                            {
                              "loop": true,
                              "speed": 600,
                              "autoplay": {
                                "delay": 5000
                              },
                              "slidesPerView": "auto",
                              "pagination": {
                                "el": ".swiper-pagination",
                                "type": "bullets",
                                "clickable": true
                              }
                            }
                        </script>
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="d-flex">
                                        <img src="{% static 'assets/img/testimonials/pic3.png' %}"
                                             class="testimonial-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>Georgiana</h3>
                                            <h4>Freelancer</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>MyFridgeRecipes changed how I cook! Inputting my fridge contents brings instant recipe options. It's fun, reduces waste, and makes cooking a breeze.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="d-flex">
                                        <img src="{% static 'assets/img/testimonials/pic1.png' %}"
                                             class="testimonial-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>Ionut Andrei</h3>
                                            <h4>Designer</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span> MyFridgeRecipes has made sustainable cooking effortless for me. I love how I can input my ingredients and receive personalized recipes tailored to my preferences. It's a fantastic way to get creative in the kitchen while minimizing waste.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="d-flex">
                                        <img src="{% static 'assets/img/testimonials/pic2.png' %}"
                                             class="testimonial-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>Jesper </h3>
                                            <h4>Bussines owner</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span> I can't thank MyFridgeRecipes enough for simplifying mealtime for my family. With this app, I can input what's in my fridge and discover new recipes that everyone enjoys. It's made cooking stress-free and reduced our food waste significantly.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="d-flex">
                                        <img src="{% static 'assets/img/testimonials/pic4.png' %}"
                                             class="testimonial-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>Andreea Ioan</h3>
                                            <h4>Student</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>Using MyFridgeRecipes has boosted my kitchen confidence tremendously. I'm no longer afraid to experiment with cooking because I know I can input my ingredients and find a recipe that works. It's empowering and has made cooking enjoyable again.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="d-flex">
                                        <img src="{% static 'assets/img/testimonials/pic5.png' %}"
                                             class="testimonial-img flex-shrink-0" alt="">
                                        <div>
                                            <h3>Maria</h3>
                                            <h4>Student</h4>
                                            <div class="stars">
                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                    class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="bi bi-quote quote-icon-left"></i>
                                        <span>MyFridgeRecipes has helped me live more sustainably without sacrificing taste or variety. With just a few taps, I can input my ingredients and access a wide range of recipes. It's a fantastic tool for anyone looking to reduce food waste and cook more mindfully.</span>
                                        <i class="bi bi-quote quote-icon-right"></i>
                                    </p>
                                </div>
                            </div><!-- End testimonial item -->

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

            </div>

        </div>

    </section><!-- End Testimonials Section -->

    {#    <!-- Recent-posts Section - Home Page -->#}
    {#    <section id="recent-posts" class="recent-posts">#}
    {##}
    {#      <!--  Section Title -->#}
    {#      <div class="container section-title" data-aos="fade-up">#}
    {#        <h2>Recent Posts</h2>#}
    {#        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>#}
    {#      </div><!-- End Section Title -->#}
    {##}
    {#      <div class="container">#}
    {##}
    {#        <div class="row gy-4">#}
    {##}
    {#          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">#}
    {#            <article>#}
    {##}
    {#              <div class="post-img">#}
    {#                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">#}
    {#              </div>#}
    {##}
    {#              <p class="post-category">Politics</p>#}
    {##}
    {#              <h2 class="title">#}
    {#                <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>#}
    {#              </h2>#}
    {##}
    {#              <div class="d-flex align-items-center">#}
    {#                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">#}
    {#                <div class="post-meta">#}
    {#                  <p class="post-author">Maria Doe</p>#}
    {#                  <p class="post-date">#}
    {#                    <time datetime="2022-01-01">Jan 1, 2022</time>#}
    {#                  </p>#}
    {#                </div>#}
    {#              </div>#}
    {##}
    {#            </article>#}
    {#          </div><!-- End post list item -->#}
    {##}
    {#          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">#}
    {#            <article>#}
    {##}
    {#              <div class="post-img">#}
    {#                <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">#}
    {#              </div>#}
    {##}
    {#              <p class="post-category">Sports</p>#}
    {##}
    {#              <h2 class="title">#}
    {#                <a href="blog-details.html">Nisi magni odit consequatur autem nulla dolorem</a>#}
    {#              </h2>#}
    {##}
    {#              <div class="d-flex align-items-center">#}
    {#                <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">#}
    {#                <div class="post-meta">#}
    {#                  <p class="post-author">Allisa Mayer</p>#}
    {#                  <p class="post-date">#}
    {#                    <time datetime="2022-01-01">Jun 5, 2022</time>#}
    {#                  </p>#}
    {#                </div>#}
    {#              </div>#}
    {##}
    {#            </article>#}
    {#          </div><!-- End post list item -->#}
    {##}
    {#          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">#}
    {#            <article>#}
    {##}
    {#              <div class="post-img">#}
    {#                <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">#}
    {#              </div>#}
    {##}
    {#              <p class="post-category">Entertainment</p>#}
    {##}
    {#              <h2 class="title">#}
    {#                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>#}
    {#              </h2>#}
    {##}
    {#              <div class="d-flex align-items-center">#}
    {#                <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">#}
    {#                <div class="post-meta">#}
    {#                  <p class="post-author">Mark Dower</p>#}
    {#                  <p class="post-date">#}
    {#                    <time datetime="2022-01-01">Jun 22, 2022</time>#}
    {#                  </p>#}
    {#                </div>#}
    {#              </div>#}
    {##}
    {#            </article>#}
    {#          </div><!-- End post list item -->#}
    {##}
    {#        </div><!-- End recent posts list -->#}
    {##}
    {#      </div>#}
    {##}
    {#    </section><!-- End Recent-posts Section -->#}

    <!-- Contact Section - Home Page -->
    <section id="contact" class="contact">

        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-6">

                    <div class="row gy-4">
{#                        <div class="col-md-6">#}
{#                            <div class="info-item" data-aos="fade" data-aos-delay="200">#}
{#                                <i class="bi bi-geo-alt"></i>#}
{#                                <h3>Address</h3>#}
{#                                <p>A108 Adam Street</p>#}
{#                                <p>New York, NY 535022</p>#}
{#                            </div>#}
{#                        </div><!-- End Info Item -->#}

{#                        <div class="col-md-6">#}
{#                            <div class="info-item" data-aos="fade" data-aos-delay="300">#}
{#                                <i class="bi bi-telephone"></i>#}
{#                                <h3>Call Us</h3>#}
{#                                <p>+1 5589 55488 55</p>#}
{#                                <p>+1 6678 254445 41</p>#}
{#                            </div>#}
{#                        </div><!-- End Info Item -->#}

                        <div class="col-md-6">
                            <div class="info-item" data-aos="fade" data-aos-delay="400">
                                <i class="bi bi-envelope"></i>
                                <h3>Email Us</h3>
                                <p>info@myfridgerecipes.com</p>
                                <p>contact@myfridgerecipes.com</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="col-md-6">
                            <div class="info-item" data-aos="fade" data-aos-delay="500">
                                <i class="bi bi-clock"></i>
                                <h3>Open Hours</h3>
                                <p>Monday - Friday</p>
                                <p>9:00AM - 05:00PM</p>
                            </div>
                        </div><!-- End Info Item -->

                    </div>

                </div>

                <div class="col-lg-6">
                    <form action="https://formspree.io/f/xdoqwaql" method="post" class="php-email-form" data-aos="fade-up"
                          data-aos-delay="200">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Message"
                                          required></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message">Error </div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>

                                <button type="submit">Send Message</button>
                            </div>

                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>

    </section><!-- End Contact Section -->

    </main>
{% endblock content %}